<div class="page-header">
  <%= link_to schools_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t 'views.back' %>
  <% end %>
  <h1><%= t 'views.models.school.new' %></h1>
</div>

<%= render 'form' %>
